@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Mulish', sans-serif;;
}
.active {
    border-left-width: 4px;
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
    border-color: rgb(229 231 235 / var(--tw-text-opacity));
    background-color: rgb(31 41 55 / var(--tw-text-opacity));
}
.child-active {
    border-color: red;
}
.child-active p {
    color: red;
}
